<form class="ose-auto-npc">
    <div class="ose-auto-npc-input">
        <input name="charName" type="text" value="NPC" placeholder="NPC" data-dtype="String">

        <select name="charClass" class="selector" data-dtype="String">
            {{#each this.charClasses}}
            <option value="{{this.name}}">{{localize this.localize}}</option>
            {{/each}}
        </select>
        
        <select name="charLevel" class="selector" data-dtype="Number">
            {{#each this.levelsAvailable}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <button type="submit" data-action="submit">Create</button>
    </div>
</form>